<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
    <header>
<img src="/img/logo.png" alt="logo">
<nav>
  <ul>
    <li><a href="">smarphones </a></li>
    <li><a href="">tablets </a></li>
    <li><a href="">computadoras </a></li>
</ul>
<ul>
    <li><a href="/login">login</a></li>
    <li><a href="/register">registro</a></li>
</ul>
</nav>
 </header>
    <main class="home__main">
        <section class="home__main__seccion">
          <article class="home__main__seccion_article">
            <img src="/img/img-phone-01.jpg" alt="img-phone-01">
            <h4> Nombre Del Producto</h4>
            <p>Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit.</p>
            <a href="">Ver más</a>
          </article>
          <article class="home__main__seccion_article">
            <img src="/img/img-phone-02.jpg" alt="img-phone-02">
            <h4> Nombre Del Producto</h4>
            <p>Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit.</p>
            <a href="">Ver más</a>
          </article>
          <article class="home__main__seccion_article">
            <img src="/img/img-phone-03.jpg" alt="img-phone-03">
            <h4> Nombre Del Producto</h4>
            <p>Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit.</p>
            <a href="">Ver más</a>
          </article>
          <article class="home__main__seccion_article">
            <img src="/img/img-phone-01.jpg" alt="img-phone-01">
            <h4> Nombre Del Producto</h4>
            <p>Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit.</p>
            <a href="">Ver más</a>
          </article>
          <article class="home__main__seccion_article">
            <img src="/img/img-phone-02.jpg" alt="img-phone-02">
            <h4> Nombre Del Producto</h4>
            <p>Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit.</p>
            <a href="">Ver más</a>
          </article>
          <article class="home__main__seccion_article">
            <img src="/img/img-phone-03.jpg" alt="img-phone-03">
            <h4> Nombre Del Producto</h4>
            <p>Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit.</p>
            <a href="">Ver más</a>
          </article>
        </section>
        <aside class="home__main__aside">
         <h2>Tuturiales</h2>
         <section class="home__main__aside--seccion">
            <article class="home__main__aside--seccion--article">
               <img src="/img/aside-01.jpg" alt="aside 1">
               <p>Titulo del turorial de reparacion historica</p>
            </article>
            <article class="home__main__aside--seccion--article">
                <img src="/img/aside-02.jpg" alt="aside 2">
                <p>Titulo del turorial de reparacion historica</p>
             </article>
             <article class="home__main__aside--seccion--article">
                <img src="/img/aside-03.jpg" alt="aside 3">
                <p>Titulo del turorial de reparacion historica</p>
             </article>
             <article class="home__main__aside--seccion--article">
                <img src="/img/aside-04.jpg" alt="aside 4">
                <p>Titulo del turorial de reparacion historica</p>
             </article>
         </section>
         <h2>Publicidad</h2>
         <section>
            <img src="/img/ad-01.jpg" alt="ad-01">
            <img src="/img/ad-02.jpg" alt="ad-02">
         </section>
        </aside>
    </main>
</body>
</html>