:root {
    --coloRojo : #ff4500;
    --colorGris : #383535;
    --colorBlanco : #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Lo que pasa dentro de la casa queda dentro de la casa */
   } 

li {
    list-style: none; /* Borra viñetas */
}

a {
    text-decoration: none; /* Saca Subrayado */
    color: #ffffff; /* 6F es Blanco */
}

textarea {
    resize: none;
}

body {
    font-family: 'lato';
    max-width: 1140px; /* No va a crecer más que tanta cantidad de px */
    margin: 0 auto;
    background-image: url('/img/bg-2.png');
    
}

.box__end { /* Pone todo a la derecha */
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.box__card {
    /* max-width: 320px; */
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px #c0c0c0;
    border-radius: 5px;
}

.box__card--simple {
   max-width: 320px;
}

.box__card--double {
    max-width: 1024px;
 }

.box__card--title {
    margin-bottom: 30px;
    text-align: end;
}

.link {
    color: var(--coloRojo);
    
}

@media (min-width: 768px) {

}